/.idea
/.idea/
/.idea/libraries
/.idea/.name
/.idea/workspace.xml
/.idea/modules.xml

/target/
/target/generated-sources/
/target/generated-test-sources/

/radulenkoProj/.idea
/radulenkoProj/.idea/
/radulenkoProj/radulenkoProj.iml
/radulenkoProj/target
/radulenkoProj/target/

/KorchaginaProj/.idea
/KorchaginaProj/.idea/
/KorchaginaProj/KorchaginaProj.iml
/KorchaginaProj/target
/KorchaginaProj/target/

